.info {
    background: #009688;
    padding: 3vh 10vw;
    color: #d9d9d9;
}
   .sign {
    float: center; /* Выравнивание по правому краю */
     text-align: center;
	 font-size: 15px;
	font-family:courier;
	color: red;
   }
   .sign figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
   }
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}
.popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
.popup h2, .popup h3 {
    margin: 0 0 1rem 0;
    font-weight: 300;
    line-height: 1.3;
    color: #009032;
    text-shadow: 1px 2px 4px #ddd;
}
.popup img {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pl-left,
.pl-right {
    width: 25%;
    height: auto;
}
.pl-right {
    float: right;
    margin: 5px 0 5px 15px;
}
.pl-left {
    float: left;
    margin: 5px 18px 5px 0;
	
}
.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;

}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
} 
.button {
  border: none;
  color: white;
  font-family:courier;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
  .t1tle {
	font-size: 30px;
	font-family:courier;
	color: #000;
	padding-left: 10px;
	line-height: 59px;
}
.t1tle span {
	display: inline;
	background-color: #6B8E23;
	box-shadow: -10px 0 0 #668626, 10px 0 0 #6B8E23;
	padding: 10px 0;
	color: #8088000;
	font-size: 80px;
    border-radius: 15px;
	
}
  .abiba {
	font-size: 1px;
	
	color: #000;
	padding-left: 10px;
	line-height: 59px;
}
.abiba span {
	display: inline;
	background-color: #00FFFF;
	box-shadow: -10px 0 0 #00FFFF, 10px 0 0 #00FFFF;
	padding: 10px 0;
	color: #8088000;
	font-size: 50px;
	border-radius: 15px;
}
  .abiba1 {
	font-size: 30px;
	font-family:courier;
	color: #000;
	padding-left: 10px;
	line-height: 59px;
}
.abiba1 span {
	display: inline;
	background-color: #00FFFF;
	box-shadow: -10px 0 0 #00FFFF, 10px 0 0 #00FFFF;
	padding: 10px 0;
	color: black;
	font-size: 50px;
	border-radius: 15px;
}
  .abobus{
	font-size: 20px;
	
	color: #FFFFFF;
	padding-left: 10px;
	line-height: 20px;
}
.abobus span {
	display: inline;
	background-color: #00FFFF;
	box-shadow: -10px 0 0 #00FFFF, 10px 0 0 #00FFFF;
	padding: 10px 0;
	color: #8088000;
	font-size: 50px;
	border-radius: 15px;
}
   html {
       background: url(img/background1.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: 100% 100%;
}
.God
{
	width: 25%;
    height: auto;
	margin-left: auto;
    margin-right: auto;
 
	 font-size: 30px;
	font-family:courier;
	color: black;
	
}

   @font-face {
    font-family: courier; /* Гарнитура шрифта */
    src: url(fonts/GODOFWAR.TTF); /* Путь к файлу со шрифтом */
   
   }
